// =======================================
// ========== Table of Contents ==========
// =======================================
/*

1.) General Styles
2.) Navigation Styles
3.) Home
4.) Products
5.) Retailer Resources
6.) About Madico
7.) Training
8.) Contact
9.) FAQ
10.) Case Studies
11.) Distributor
12.) 404
13.) Footer

*/

// =======================================
// ========= 1.) General Styles ==========
// =======================================

html,p,li{
	@include montserrat(400);
}
h1,h2,h3,h4,h5,h6{
	text-transform: uppercase;
	@include oswald(400);
}
h3,h1{
	@include font(36);
}
p{
	color: $gray;
}
.red-title{
	color: $red;
}
.yellow-line{
	border: 1px solid #f6c831;
	width: 120px;
}
.opacity0{
	opacity:0;
}
.btn-white.button{
	@extend %btn-white;
}
.btn-black.button{
	@extend %btn-black;
}
.top-bg{
	background-size: cover;
	background-repeat: no-repeat;
	padding: 5% 0;
}

// =======================================
// ======== 2.) Navigation Styles ========
// =======================================

.top-bar{
	background-color:$clear;
	position: absolute;
	width: 100%;
	transition: opacity 0.25s ease-in-out;
	z-index: 10;
	padding-top: 1%;
	&.slide-down{
		top: 0;
		width: 100%;
		opacity:1;
		position:fixed;
		background-color: #2a2a2a;
	}
	.current_page_item{
		border-bottom: 2px solid #f6c831;
	}
	ul{
		background-color: $clear;
	}
	ul a{
		color:$white;
		text-transform: uppercase;
		@include oswald(400);
	}
	.top-bar-right{
		margin-top: 20px;
		position: relative;
		.login{
			position: absolute;
			right: 0;
			@include font(12);
			top: -23px;
			a{
				color: $white;
			}
		}
	}
	#menu-top-nav li:last-child{
		border-bottom: none;
	}
	#menu-top-nav li:last-child a{
		@extend %gray-button;
	}
}


// =======================================
// =========== 3.) Home Page =============
// =======================================

#video-modal{
	padding: 50px 0 0;
	background-color:$black;
	border:none;
	.flex-video{
		margin-bottom: 0;
	}
	.close-button{
	  font-size: 30px;
	  color: $white;
	}
}
.large-hero {
	background: #000;
	height: 100vh;
	overflow:hidden;
	video{
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
    opacity: 0.2;
	}
	.center{
		@include vertical-center;
		left: 0;
		width: 100%;
		z-index: 1;
	}
	h1,p{
		color: $white;
	}
	h1{
		@include font(55);
	}
	p{
		@include font(24);
		@include montserrat(300);
	}
	.play-group{
		margin-right: 15px;
	}
	.play-group .button{
		background-color: $clear;
		border:2px solid #dfb734;
		margin-right: 0;
	}
	.play-group .play-text{
		text-transform: uppercase;
		border-right: none;
		border-top-left-radius:3px;
		border-bottom-left-radius:3px;
		@include oswald(500);
	}
	.play-container{
		border-top-right-radius:3px;
		border-bottom-right-radius:3px;
	}
	.play-button{
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 7px 0 7px 13px;
		border-color: $clear $clear $clear #ffffff;
	}
	.button-group{
		display:inline-block;
	}
	.learn-more{
		@extend %gray-button;
		text-transform: uppercase;
		@include oswald(400);
	}
}

.phone-bg{
	position: relative;
	img{
		width:100%;
	}
}

.advantages{
	padding: 30px 0 50px;
	h3{
		@include font(36);
		line-height: 2.6rem;
	}
	p{
		color: $gray;
	}
	.advantage-body{
		@include font(16);
		width: 80%;
		@include margin(50,bottom);
		@include breakpoint(medium down) {
			width: 100%;
		}
	}
	.advantages-title{
		@include font(20);
		color: $red;
	}
	.advantages-body{
		@include font(14);
	}
}

.cutters{
	@extend %bg_img;
	padding: 8% 0 20%;
	h5,.cutter-family,.cutter-title,.cutter-body{
		color: $white;
	}
	h5{
		@include font(18);
		@include margin(0, bottom);
	}
	.cutter-family{
		@include font(36);
	}
	.yellow-line{
		float: left;
	}
	.cutter-title{
		@include font(20);	
	}
	.cutter-body{
		@include font(14);
	}
}

.protectionpro-film{
	@extend %bg_img;
	padding: 10% 0;
	.yellow-line{
		float: left;
	}
	h5{
		@include font(18);
	}
	.protection-title{
		@include font(36);
		line-height: 40px;
	}
}

.home-case-studies{
	@extend %bg_img;
	padding: 140px 0;
	p{
		color: $gray;
	}
	.featured-case-study{
		padding-bottom: 30px;
		p{
			@include font(14);
		}
	}
	h3{
		@include font(36);
		@include margin(0,bottom);
	}
	.yellow-line{
		float: left;
	}
	.read-more{
		color: $black;
		@include font(14);
	}
}

// =======================================
// ========== 4.) Products Page ==========
// =======================================
.large-hero{
	&.products-hero{
		background-repeat: no-repeat;
		background-size: cover;
	}
	.yellow-line{
		float: left;
	}
	.center-vert{
		@include vertical-center;
		width: 40%;
		h2{
			@include font(36);
			color: $white;
			@include margin(0,bottom);
			line-height: 40px;
		}
		p{
			@include font(18);
			@include montserrat(300);
		}
	}
}

.sales-wheel{
	padding: 10% 0;
	h3{
		@include margin(0,bottom);
	}
	p{
		@include margin(100,bottom);
	}
	.wheel-bg{
		background-position: center center;
		background-repeat: no-repeat;
		@media(max-width: 1140px){
			background-size: contain;
		}
		h4{font-size: 20px;}
		p{font-size: 14px;}
		.columns{
			position: relative;
			top: 50px;
		}
	}
}

.hardware-table{
	background-color: #f7f7f7;
	padding: 10% 0;
	h3{
		@include margin(0,bottom);
	}
	.hardware-body{
		@include margin(100,bottom);
	}
	.medium-4.columns{
		background-color: $white;
		padding: 60px 30px;
		position: relative;
		-webkit-box-shadow: 0 0 55px -5px #ccc;
    -moz-box-shadow: 0 0 55px -5px #ccc;
    box-shadow: 0 0 55px -5px #ccc;
		&:nth-of-type(1),&:nth-of-type(3){
			position: relative;
			top: 82px;
		}
		&:nth-of-type(2){
			padding-top: 40px;
			z-index: 1;
		}
		&:nth-of-type(3) p{
			@include margin(22,bottom);
		}
		h3{
			@include margin(30,bottom);
		}
		h5{
			@include margin(0,bottom);
		}
		ul{
			list-style-type: none;
			margin:0;
		}
		ul li {
			border: 1px solid #e7e7e7;
			padding: 10px 0;
		}
	}
}

.touchscreen{
	padding: 10% 0;
	background-size:cover;
	background-repeat:no-repeat;
	p{
		@include margin(50,bottom);
	}
	ul{
		list-style-type: none;
		@include margin(0,left);
		li{
			text-indent: -1.2em;
			padding: 10px 0 10px 40px;
		}
		i{
			color: $red;
		}
	}
}

.library{
	padding: 10% 0;
	background-size:cover;
	background-repeat:no-repeat;
	h3,p{
		color: $white;
	}
	.yellow-line{
		float: left;
	}
	p{

	}
}

.store-study {
	padding: 10% 0;
	p{
		@include margin(50,bottom);
	}
	.row.expanded{
		position: relative;
	}
	.medium-7{
		padding-left: 0;
		img{
			width: 100%;
		}
	}
	.medium-6{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 8%;
	}
	.black-bg{
		background-color: #000;
		padding: 50px;
		@include breakpoint(medium down) {
			padding: 20px;
		}
		h4{
			@include font(24);
			@include margin(0,bottom);
		}
		.location{
			@include font(14);
			text-transform: uppercase;
		}
		p{
			color:$white;
			@include font(18);
			@include margin(30,bottom);
		}
	}
}

.product-faqs{
	padding: 0 0 10%;
	p{
		@include margin(75,bottom);
	}
	.product-faq{
		h5 {
			@include font(18);
		}
		p{
			@include font(14);
			@include margin(30,bottom);
		}
	}
}

// =======================================
// ======= 5.) Retailer Resources ========
// =======================================

.resources{
	padding: 8% 0;
	.body{
		@include margin(50,bottom);
	}
	img{
		@include margin(20,bottom);
	}
	ul{
		@include margin(0,left);
		list-style-type: none;
		i{
			color:$red;
		}
		li{
			text-indent: -1.2em;
			padding: 10px 0 10px 40px;
		}
	}
}
.view-resources{
	padding-top: 5%;
	h5{
		@include font(18);
	}
	p{
		@include font(14);
	}
	.resource-cta{
		@extend %gray-button;
	}
}

// =======================================
// ========== 6.) About Madico ===========
// =======================================
.about{
	padding: 8% 0;
	p{
		color:$gray;
	}
	.body,img{
		@include margin(50,bottom);
	}
}

// =======================================
// ============ 7.) Training =============
// =======================================

.page-template-page-training{
	h2{
		@include font(30);
		@include margin(40,bottom);
	}
	img{
		@include margin(20,bottom);
	}
}
.training{
	padding: 8% 0 0;
	.body{
		@include margin(0,bottom);
	}
}
.training-videos{
	padding: 6% 0;
	.video-container{
		position: relative;
		cursor: pointer;
		.play-img{
			margin: auto;
			position: absolute;
			top: 0; left: 0; bottom: 0; right: 0;
		}
		.red-title{
			@include margin(20,top);
		}
	}
	.video-cats ul {
		list-style-type: none;
		@include margin(0,left);
	}
}
.download-documents{
	padding: 0 0 6%;
}

// =======================================
// ============= 8.) Contact =============
// =======================================

.page-template-page-contact .top-footer{
	display: none;
}
.contact-header{
	padding-top: 8%;
	.body{
		@include margin(50,bottom);
	}
}
.contact-buttons{
	ul{
		text-align: center;
		margin:0;
		@include margin(80,bottom);
	}
	li{
		width: 260px;
		text-align: center;
		display: inline-block;
		a{
			width: 90%;
			@include font(18);
			cursor: pointer;
		}
		i{
			@include font(30);
		}
	}
	i{
		@include margin(20,bottom);
	}
}
.contact-form{
	padding-bottom: 8%;
	border-bottom:2px solid #dddddd;
	.contact-info{
		margin:0;
		list-style-type: none;
	}
	p{
		@include margin(30,bottom);
	}
	.contact-info{
		@include margin(50,bottom);
	}
	.contact-info li{
		color: $gray;
		@include font(14);
		&:first-child{
			color: $black;
			text-transform: uppercase;
			@include oswald(400);
			@include font(16);
		}
	}
	.contact-info i {
		color: $red;
	}
	.contact-info .last-li{
		text-indent: 20px;
	}
}

// Contact form styles
.nf-form-fields-required {
	display: none;
}
#nf-field-5,#nf-field-9{
	color:#808285;
	@include font(18);
}
.nf-form-content .nf-field-label label {
	line-height: 16px;
	@include oswald(400);
	@include font(18);
	text-transform: uppercase;
}
.nf-form-content input[type=text], .nf-form-content select,.nf-form-content input[type=tel],.nf-form-content input[type=email]{
	border:none;
	border-bottom:2px solid #dddddd;
	box-shadow:none;
	padding-left: 0;
}
.nf-form-content input[type=button]{
	text-transform:uppercase;
	@include oswald(500);
	@include font(18);
	color: $white;
	background-color: #eab321;
	border-radius: 5px;
	border: none;
	padding: 20px 30px;
	cursor: pointer;
}
.nf-form-content .label-above .nf-field-label {
  margin-bottom: 30px;
}
.nf-form-content textarea{
	resize: none;
	border: 2px solid #dddddd;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #808285!important;
  @include font(18);
}
::-moz-placeholder { /* Firefox 19+ */
  color: #808285!important;
  @include font(18);
}
:-ms-input-placeholder { /* IE 10+ */
  color: #808285!important;
  @include font(18);
}
:-moz-placeholder { /* Firefox 18- */
  color: #808285!important;
  @include font(18);
}

// =======================================
// =============== 9.) FAQ ===============
// =======================================

.faqs{
	padding: 10% 0;
	.body{
		margin-bottom: 10%;
	}
	.faq-cats ul{
		list-style-type: none;
	}
}

// =======================================
// ========== 10.) Case Studies ==========
// =======================================

.case-studies{
	padding: 10% 0;
}
.page-template-page-case-studies .store-study,.page-template-page-case-studies .case-studies{
	padding-top: 0;
}
.study-container{
	border: 2px solid #dddddd;
	img{
		width: 100%;
		height: 175px;
	}
	.case-meta{
		padding: 20px;
		@include font(14);
	}
	.case-meta .red-title{
		@include font(18);
	}
	a{
		@include montserrat(400);
		@include font(14);
		@include margin(0,bottom);
		width: 100%;
		background-color: #808285;
		border:none;
		border-radius:3px;
	}
}

.case-study-single {
	padding: 10% 0;
	.excerpt{
		@include margin(60,bottom);
	}
	img{
		width: 100%;
		@include margin(60,bottom);
	}
	.body{
		h1,h2,h3,h4,h5,h6{
			color: $red;
		}
		.btn{
			@extend %gray-button;
			@include montserrat(400);
			@include font(14);
			background-color: #808285;
			border-radius:3px;
			color:$white
		}
	}
}
.single-case_studies .case-studies{
	padding-top: 0;
	h4{
		@include font(24);
	}
}
.single-case_studies .case-studies .row{
	margin-bottom: 30px;
}

// =======================================
// ========== 11.) Distributor ===========
// =======================================

.distributor{
	padding: 8% 0;
	.body{
		@include margin(50,bottom);
	}
}

// =======================================
// ============== 11.) 404 ===============
// =======================================

.error-top{
	padding: 8% 0 4%;
	.bottom{
		@include margin(50,bottom);
	}
	.input-group{
		position: relative;
	}
	input[type=text]{
		border:none;
		border-bottom: 2px solid #DDD;
		box-shadow: none;
	}
	button{
		background-color: transparent;
		color: $black;
		position: absolute;
		right: 0;	
		top: 0;
	}
}

// =======================================
// =============== Footer ================
// =======================================

.footer-container{
	border:none;
	margin-top: 0;
	text-align: center;
	.top-footer{
		padding: 5% 0;
	}
	.footer-meta p{
		color: $white;
		@include montserrat(300);
		@include font(36);
	}
	.menu-footer-menu-container{
		text-align: center;
		@include margin(50,bottom);
	}
	#menu-footer-menu {
		display: flex;
		flex-wrap: wrap;
		li{
			flex-grow: 1;
		}
		a{
			color: $black;
			@include oswald(400);
			text-transform: uppercase;
		}
	}
	.bottom-footer{
		padding: 5% 0;
	}
	.partner-logos{
		display: flex;
		flex-wrap: wrap;
		list-style-type: none;
		align-items: center;
		@include margin(80,bottom);
		@include margin(0,left);
		li{
			flex-grow: 1;
		}
	}
	.pp-footer-logo{
		@include margin(50,bottom);
	}
	.footer-credits{
		@include font(13);
		ul{
			list-style-type: none;
			@include margin(0,left);
		}
		ul li {
			display: inline-block;
			a{
				color: $black;
			}
		}
	}
}
